<div class="sidebar-nav">
  <nav class="navbar navbar-container fixed-top bg-light main-shadow">
    <div class="navbar-title-container">
      <h1 class="navbar-title-text">TuSegundazo.com</h1>
    </div>
  </nav>
</div>
<div class="global-margin-top"></div>
<router-outlet></router-outlet>
<div class="global-margin-bottom"></div>

<footer class="bg-light py-4 main-shadow text-center fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
      </div>
    </div>
  </div>
</footer>
